<div class="sidebar" class="panel" role="navigation">
	<ul>
		<div class="logo">
			<%= link_to "/" do %>
			<%= image_tag "logo.svg" %>
			<% end %>
		</div>
		<li class="<%= 'active' if params[:action] == 'home' %>"><%= link_to "Home", "/" %></li>
		<li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to "About Us", about_path %></li>
		<% if  params[:action] == 'about' %>
		<ul class="submenu">
			<li class="active"><a href="#mission">Mission</a></li>
			<li><a href="#members">Members</a></li>
			<li><a href="#companies">Companies</a></li>
			<li><a href="#special-thanks">Special Thanks</a></li>
		</ul>
		<% end %>
		<li class="<%= 'active' if params[:action] == 'join' %>"><%= link_to "Join Us", join_path %></li>
		<li class="<%= 'active' if params[:action] == 'calendar' %>"><%= link_to "Rush Calendar", calendar_path %></li>
	</ul>
	<div class="social">
		<a href="https://www.facebook.com/thecubeduke"><button href="https://www.facebook.com/dukeincube" class="facebook"><img src="/images/fb.svg"></button></a>
		<button class="home"><img src="/images/home.svg"></button>
		<a href="mailto:ibanca.anand@duke.edu"><button class="email"><img src="/images/email.svg"></button>
		</a>
		<div class="address">
			205 Alexander Avenue
			<br>
			Room D
			<br>
			Durham, NC 27708
		</div>
	</div>
</div>