<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "howie.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Howie Rhee</h1>
			</div>
			<div class="company-description">
				Managing Director Of Entrepreneurship | Advisor of The Cube
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "judd.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Judd Staples</h1>
			</div>
			<div class="company-description">
				Director of Strategy and Operations of The Duke I&E Initiative
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "eric.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Eric Toone</h1>
			</div>
			<div class="company-description">
				Director of The Duke I&E Initiative
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "toby.png" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Tobias Walter</h1>
			</div>
			<div class="company-description">
				CFO & COO of Shoeboxed | Mentor to The Cube
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "kimberly.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Kimberly Jenkins</h1>
			</div>
			<div class="company-description">
				Senior Advisor, Ex-Officio of The Duke I&E Initiative
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "jesse.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Jesse Lipson</h1>
			</div>
			<div class="company-description">
				Founder/CEO of Sharefile | Mentor to The Cube
			</div>
		</div>
	</div>
</div>

<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
			<%= image_tag "joe.jpg" %>
		</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1>Joe Davy</h1>
			</div>
			<div class="company-description">
				CEO of Buystand | Mentor to The Cube
			</div>
		</div>
	</div>
</div>