<%= render "header_image" %>
<div class="content-mission" id="mission" name="mission">
	<div class="mission-hero">
		The Cube is Duke's student-run, entrepreneurial residential community. We yearn to make a difference, are driven to execute upon and deliver great ideas and are dedicated to learning and growing.	
	</div>
	<div class="mission-title">
		<h1>What do we expect from our members?</h1>
	</div>
	<div class="mission-body">
		<ol>
			<li>
				Produce a product or service that is iterable and can be brought to the general market, whether via non-profit or for-profit venture. The Cube is also dedicated to promoting entrepreneurship of any form within the community and on Duke’s campus, including social ventures.
			</li>
			<li>
				Timeline for development:
				<ol>
					<li>
						Within the first year following a member’s induction, they are expected to work to produce a product or venture.
					</li>
					<li>
						Within a member’s time in The Cube, they are expected to launch at least 1 product or venture
					</li>
				</ol>
			</li>
		</ol>
	</div>		
</div>
<div class="content-members clearfix" id="members" name="members">
	<h1 class="section-header">Members</h1>
	<% Member.where(alumni: false).all.each do |m| %>
	<%= render m %>
	<% end %>
	<% Member.where(alumni: true).all.each do |m| %>
	<%= render m %>
	<% end %>
</div>
<div class="content-companies clearfix" id="companies" name="companies">
	<h1 class="section-header">Companies</h1>
	<% Company.all.each do |c| %>
	<%= render c %>
	<% end %>
</div>
<div class="content-companies clearfix" id="special-thanks" name="special-thanks">
	<div class="mission-hero">
		The Cube wants to thank all Duke alumni entrepreneurs and Duke faculty and staff for being helpful mentors and supporting us in all that we do. We couldn't have gotten to where we are today without you guys! Here are just a few of those amazing people!	
	</div>
	<%= render "special_thanks" %>
</div>
