<!-- 
	This should be a small card-like element that shows some basic info
	about each company.
-->
<div class="content-company clearfix col-lg-6">
	<div class="thumbnail">
		<div class="pull-left">
			<div class="company-logo">
				<%= link_to company do %>
					<%= image_tag company.logo %>
				<% end %>
			</div>
		</div>
		<div class="company-profile clearfix">
			<div class="company-name">
				<h1><%= link_to company.name, company %></h1>
			</div>
			<div class="company-members">
				<%= (company.members.map{|m| link_to m.full_name, m}).join(" | ").html_safe %>
			</div>
			<div class="company-description">
				<%= company.blurb %>
			</div>
		</div>
	</div>
</div>