<div class="company">
	<div class="company-header">
		<div class="company-logo">
			<img src="<%= @company.logo %>">
		</div>
		<div class="company-name">
			<h1><%= @company.name %></h1>
		</div>
		<div class="company-info">
			Founded on <%= @company.founded_at %>
			<% if !@company.site_url.blank? %>
				<br/>
				<%= link_to @company.site_url, @company.site_url %>
			<% end %>
			<br/>
			<%= (@company.members.map{|m| link_to m.full_name, m}).join(" | ").html_safe %>
		</div>
		<div class="company-blurb">
			<p>
				<%= @company.blurb %>
			</p>
		</div>
	</div>
	<div class="company-posts">
		<% @company.posts.each do |p| %>
		<%= render p %>
		<% end %>
	</div>
</div>