<div class="content-post card">
	<% if post.pinned? %>
		<div class="pinned">Pinned Post</div>
	<% end %>
	<div class="post-title">
		<img src="<%= post.author.profile_image_url(200) %>">
		<h1><%= post.heading %></h1>
	</div>
	<div class="post-author-time">
		<%= post.author.full_name %> | <%= post.formatted_date %>
	</div>
	<div class="post-body">
		<%= post.html_content.html_safe %>
	</div>
	<div class="post-tags">
		<span>Tags: </span>
		<% post.tags.each do |t| %>
			<%= link_to t[:url] do %>
				<span class="label label-primary post-tag">
					<%= t[:name] %>
				</span>
			<% end %>
		<% end %> 
	</div>
</div>