<div class="member">
	<div class="member-header">
		<div class="member-photo">
			<% if @member.alumni? %>
			<div class="alumni">
				Alumni
			</div>
			<% end %>
			<%= image_tag @member.profile_image_url(800) %>
		</div>
		<div class="member-name">
			<h1><%= @member.full_name %></h1>
		</div>
		<div class="member-info">
			<%= @member.email %>
			<% if !@member.personal_site_url.blank? %>
				<br/>
				<%= link_to @member.personal_site_url, @member.personal_site_url %>
			<% end %>
			<br/>
			<%= (@member.companies.map{|c| link_to c.name, c}).join(" | ").html_safe %>
		</div>
	</div>
	<div class="member-posts">
		<% @member.posts.each do |p| %>
		<%= render p %>
		<% end %>
	</div>
</div>

