<div class="member">
	<div class="member-header">
		<a class="navbar-toggle sidebar-toggle" data-toggle="collapse" data-target="#sidebar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="member-photo">
			<% if @member.alumni? %>
			<div class="alumni">
				Alumni
			</div>
			<% end %>
			<% if member.profile_picture_url != nil %>
			<%= image_tag member.profile_picture_url %>
			<% else %>
			<%= image_tag @member.profile_image_url(800) %>
			<% end %>
		</div>
		<div class="member-name">
			<h1><%= @member.full_name %></h1>
		</div>
		<div class="member-info">
			<%= @member.email %>
			<% if !@member.personal_site_url.blank? %>
			<br/>
			<%= link_to @member.personal_site_url, @member.personal_site_url %>
			<% end %>
			<br/>
			<%= (@member.companies.map{|c| link_to c.name, c}).join(" | ").html_safe %>
		</div>
	</div>
	<div class="member-posts">
		<% if @member.posts.any? %>
		<% @member.posts.each do |p| %>
		<%= render p %>
		<% end %>
		<% else %>
		<div class="no-posts">
			No recent posts for this member.
		</div>
		<% end %>
	</div>
</div>

